body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
}

header nav {
    padding: 15px;
}

header nav a {
    text-decoration: none;
    color: white;
    padding: 15px;
}

#intro-section, footer {
    margin: 30px;
    margin-bottom: 50px;
}

#intro-section img {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 150px;
}

#intro-section p {
    margin-left: 50px;
}

#intro-section {
    display: flex;
    align-items: center;
}

#project-section {
    width: 70%;
    margin: auto;
}

#project-section article {
    border: 1px solid #BFBFBF;
}

#project-section article {
    padding: 10px;
}

.border-socialmedia {
    display: inline;
    border: 1px solid;
    margin: 5px 5px;
    border-color: rgb(160,160,255);
}

footer a {
    text-decoration: none;
}